body{
    font-family: 'Poppins', sans-serif;
font-family: 'Scheherazade New', serif;
font-family: 'Source Serif 4', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.orange-color{
    color: orange;
}
.border-left{
    border-left: 5px solid red;
    border-radius: 5px;
}
.big-header{
    font-size: 50px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.left-margin{
    margin-left: 10px;
}
.button{
    background-image: linear-gradient(orange,salmon);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
}
.button-L{
    background-image: linear-gradient(#009ffd,#2a2a72);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;

}
.space{
    margin-top: 40px;
    margin-bottom: 40px;
}
.head-divider{
    display: flex;
}
.half-width{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;

}
.half-width img{
    width: 75%;
    height: min-content;
}
.heading-center{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.flex-iteam{
    display: flex;
}
.mission-part{
   background-color:cyan;
   border-radius: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   
}
.mission-part img{
    width: 50%;
}
.vission-part{
    background-color:antiquewhite;
   border-radius: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
    
}
.vission-part img{
    width: 50%;
}
.goal-part{
    background-color:cyan;
    border-radius: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.goal-part img{
    width: 50%;
}
.division-three{
    width: 33%;
}
.margin-iteam{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
}
.limit-image{
    width: 40%;
}
.limit-text{
    width: 60%;
}
.area{
    width: 100%;
}
.justify-margin{
    margin-left: 10%;
    margin-top: 8%;
}
.align{
    margin-top: 8%;
    margin-right: 10%;
}
.bottom-space{
    margin-bottom: 10%;

}
.text-footer{
    background-color:black;
    color:white;
    text-align: center;
    font-family:serif;
}
.text-position{
    text-align: center;
}